* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
  background-color: black;
}

/* NAVBAR */
.navbar {
  position: fixed;
  display: flex;
  z-index: 5;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.822);
  color: white;
  width: 100vw;
}
.logo {
  position: relative;
  left: 5%;
  font-size: 1.5rem;
  margin: 0.5rem;
}
.navbar_links {
  font-family: "Source Serif Pro", serif;
  position: relative;
  top: 0;
  right: 5%;
}
.navbar_links ul {
  position: relative;
  margin: 0.5;
  padding: 0;
  display: flex;
}
.navbar_links li {
  list-style: none;
  transition: 0.3s ease;
}
.navbar_links li a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  display: block;
}
.navbar_links li:hover {
  border-top: 3px solid;
  border-bottom: 3px solid;
  border-image: linear-gradient(to right, green 0%, white 50%, red 100%) 1;
}
.toggle_button {
  position: absolute;
  top: 1.5rem;
  right: 5%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  border: 3px solid;
  border-image: linear-gradient(to right, green 0%, white 50%, red 100%) 1;
  border-image-outset: 0.5rem;
}
.toggle_button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
}
/* Home Page */
.home {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, green 0%, white 50%, red 100%) 1;
}

/* SVG Animation */
#brand-name2 {
  position: relative;
  top: -25%;
  transform: translate(-50%, -80%), scale(0.7);
  animation: fillin 1s ease forwards 4.9s, borderfill 4.9s ease forwards 4s;
}
#brand-name2 path:nth-child(1) {
  stroke-dasharray: 296.4px;
  stroke-dashoffset: 296.4px;
  animation: line-anim 2s ease forwards 1.8s;
  translate: -52.2% -3%;
}
#brand-name2 path:nth-child(2) {
  stroke-dasharray: 359px;
  stroke-dashoffset: 359px;
  animation: line-anim 2s ease forwards 2.1s;
  translate: -52.2% -3%;
}
#brand-name2 path:nth-child(3) {
  stroke-dasharray: 558.4px;
  stroke-dashoffset: 558.4px;
  animation: line-anim 2s ease forwards 2.4s;
  translate: -52.2% -3%;
}
#brand-name2 path:nth-child(4) {
  stroke-dasharray: 359px;
  stroke-dashoffset: 359px;
  animation: line-anim 2s ease forwards 2.7s;
  translate: -52.2% -3%;
}
#brand-name2 path:nth-child(5) {
  stroke-dasharray: 370px;
  stroke-dashoffset: 370px;
  animation: line-anim 2s ease forwards 3s;
  translate: -52.2% -3%;
}
#brand-name2 path:nth-child(6) {
  stroke-dasharray: 359px;
  stroke-dashoffset: 359px;
  animation: line-anim 2s ease forwards 3.3s;
  translate: -52.2% -3%;
}
#brand-name2 path:nth-child(7) {
  stroke-dasharray: 373px;
  stroke-dashoffset: 373px;
  animation: line-anim 2s ease forwards 3.6s;
  translate: -52.2% -3%;
}
#brand-name2 path:nth-child(8) {
  stroke-dasharray: 359px;
  stroke-dashoffset: 359px;
  animation: line-anim 2s ease forwards 3.9s;
  translate: -52.2% -3%;
}
@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fillin {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}
@keyframes borderfill {
  from {
    border-bottom: 0.5px solid;
    border-image: linear-gradient(to right, black 0%, black 100%) 0;
  }
  to {
    border-bottom: 6px solid;
    border-image: linear-gradient(to right, green 0%, white 50%, red 100%) 1;
  }
}
.intro {
  background: black;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro-1 {
  color: green;
  font-size: 6rem;
}
.intro-2 {
  color: white;
  font-size: 6rem;
}
.intro-3 {
  color: red;
  font-size: 6rem;
}
.hide {
  background: black;
  overflow: hidden;
}
.hide span {
  transform: translateY(100%);
  display: inline-block;
}
/* About Section */
.about-section {
  overflow: hidden;
  background-color: black;
  color: white;
  text-align: center;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, green 0%, white 50%, red 100%) 1;
}
.about-container {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100vw;
}
.about-header,
.about-text-header {
  font-size: 35px;
  padding: 15px;
  font-family: "Oswald", sans-serif;
}

.about-text-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.842);
  width: 40vw;
  height: 100%;
  z-index: 1;
  overflow: auto;
  transform: translateX(-100%);
}
.atc-active {
  transform: translateX(100%);
}
.about-img-img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 100vw;
  height: 100%;
}
.about-info {
  position: relative;
  display: flex;
  flex-direction: column;
}
.about-info-text {
  font-family: "Source Serif Pro", serif;
  display: block;
  font-size: large;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
  width: 90%;
}

/* Menu Section */
section.page-heading {
  color: white;
  background-color: black;
  padding-top: 30px;
  text-align: center;
}

.menu-heading {
  font-family: "Oswald", sans-serif;
}
section.breakfast-menu {
  background-color: black;
}
.menu-item {
  padding: 0px 3px;
}
section.breakfast-menu .price {
  right: 0px;
}
.row .menu {
  justify-content: center;
}
.breakfast-menu-content {
  background-color: black;
  padding: 30px 0px 30px 30px;
}

.breakfast-menu-content .left-image {
  margin: -30px 0px -30px -30px;
}

.breakfast-menu-content #owl-breakfast {
  margin-left: -15px;
}

.breakfast-menu-content h2 {
  margin-top: 0px;
  margin-bottom: 30px;
  padding-bottom: 8px;
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  width: 94.5%;
  border-bottom: 1px solid #d9dde5;
  color: white;
}

.owl-pagination {
  margin-top: 39px;
  opacity: 1;
  display: inline-block;
}

.owl-page span {
  display: block;
  width: 8px;
  height: 8px;
  margin: 0px 5px;
  filter: alpha(opacity=50);
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: red;
}
.menu-downlaod {
  background-color: black;
  text-align: center;
  margin-bottom: 35px;
}
.menu-link {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  font-size: 20px;
  border: 4px solid transparent;
  border-radius: 30px;
  background: linear-gradient(to right, black, black),
    linear-gradient(to right, green 0%, white 50%, red 100%);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  padding: 7px;
  color: white;
}
.menu-link:hover {
  color: white;
  background: linear-gradient(to right, rgb(52, 52, 52), rgb(52, 52, 52)),
    linear-gradient(to right, red 0%, white 50%, green 100%);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

section.featured-food {
  padding: 0px 0px 15px 0px;
  background-color: black;
}

.featured-food .heading h2 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: white;
}

.featured-food .food-item {
  background-color: black;
  padding: 30px;
}
.special-container {
  overflow: hidden;
}
.special-one {
  transform: translateX(-100%);
}
.special-two {
  transform: translateY(-100%);
}
.special-three {
  transform: translateX(100%);
}

.food-item h2 {
  margin-top: 0px;
  margin-bottom: 30px;
  padding-bottom: 8px;
  font-size: 28px;
  width: 100%;
  border-bottom: 1px solid #d9dde5;
  color: white;
}

.food-item img {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.food-item .price {
  font-size: 17px;
  color: white;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 8px 14px;
  position: absolute;
  /* right: 100%; */
  margin-top: -40px;
  background-color: rgba(0, 0, 0, 0.615);
}

.food-item .text-content {
  background-color: black;
  padding: 20px 20px 10px 20px;
  color: white;
}
.dish-name,
.price,
.specials {
  font-family: "Oswald", sans-serif;
}
.dish-description {
  font-family: "Source Serif Pro", serif;
}

/* Gallery Section */
.gallery-section {
  background-color: black;
  color: white;
  text-align: center;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, green 0%, white 50%, red 100%) 1;
}
.gallery-header,
.gallery-header-text {
  padding: 0px 0px 15px 0px;
  font-family: "Oswald", sans-serif;
}
.slideshow-container {
  width: 80vw;
  max-width: 1000px;
  max-height: 618px;
  overflow: hidden;
  position: relative;
  margin: auto;
}
/* Make the images invisible by default */
.Containers {
  display: none;
}
/* forward & Back buttons */
.Back,
.forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: red;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border: solid 2px red;
  border-radius: 0 5px 5px 0;
  user-select: none;
}
.forward {
  right: 0;
  border-radius: 5px 0 0 5px;
}
.Back {
  left: 0;
}
/*when the user hovers,add a black background with some little opacity */
.Back:hover,
.forward:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 60px;
  width: 60px;
  margin: 0 3px;
  margin-bottom: 15px;
  background-size: cover;
  display: inline-block;
  transition: background-color 0.5s ease;
}
.dots1 {
  background-image: url(img/m_DSC_6101.jpg);
}
.dots2 {
  background-image: url(img/coffee1-1024x640.jpg);
}
.dots3 {
  background-image: url(img/amorepizza-1024x640.jpg);
}
.dots4 {
  background-image: url(img/m_DSC_6098.jpg);
}
.dots5 {
  background-image: url(img/m_DSC_6181.jpg);
}
.dots6 {
  background-image: url(img/cocktails-1024x640.jpg);
}
.dots7 {
  background-image: url(img/cheeseplatter-1024x640.jpg);
}
.dots8 {
  background-image: url(img/m_DSC_6159.jpg);
}
.dots9 {
  background-image: url(img/parmawinepizza-1024x640.jpg);
}
.dots10 {
  background-image: url(img/wines-1024x640.jpg);
}
.dots11 {
  background-image: url(img/veal-1024x640.jpg);
}
.dots12 {
  background-image: url(img/m_DSC_6169.jpg);
}
.enable,
.dots:hover {
  opacity: 0.5;
  border: solid 2px;
  border-image: linear-gradient(to right, green 0%, white 50%, red 100%) 1;
}
.bookings-text {
  font-family: "Oswald", sans-serif;
}
.booking-contact-details {
  position: relative;
  margin: 15px 0px 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.booking-call,
.booking-email {
  font-family: "Source Serif Pro", serif;
  width: 150px;
  position: relative;
  color: white;
  text-decoration: none;
  padding: 7px;
  margin: 10px;
  border: 3px solid transparent;
  border-radius: 20px;
  background: linear-gradient(to right, black, black),
    linear-gradient(to right, green 0%, white 50%, red 100%);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}
.booking-call:hover,
.booking-email:hover {
  color: white;
  background: linear-gradient(to right, rgb(52, 52, 52), rgb(52, 52, 52)),
    linear-gradient(to right, red 0%, white 50%, green 100%);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}
/* Accommodation */
#palm {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 20px;
}
.main-accommodation-heading {
  text-align: center;
  color: white;
}
.main-heading-name {
  font-family: "Oswald", sans-serif;
}
.main-heading-description {
  font-family: "Source Serif Pro", serif;
}
.hotels {
  display: flex;
  text-align: center;
  justify-content: center;
}
.dolphin-dunes {
  margin: 20px 30px 20px 20px;
}
.post-office-lodge {
  margin: 20px 20px 20px 30px;
}
.carousel,
.dd-text,
.pol-text {
  width: 500px;
  color: white;
}

.booking-dolphin-dunes,
.booking-post-office-lodge {
  font-family: "Source Serif Pro", serif;
  width: 150px;
  position: relative;
  color: white;
  text-decoration: none;
  padding: 7px;
  margin: 10px;
  border: 3px solid transparent;
  border-radius: 20px;
  background: linear-gradient(to right, black, black),
    linear-gradient(to right, green 0%, white 50%, red 100%);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}
.booking-dolphin-dunes:hover,
.booking-post-office-lodge:hover {
  color: white;
  background: linear-gradient(to right, rgb(52, 52, 52), rgb(52, 52, 52)),
    linear-gradient(to right, red 0%, white 50%, green 100%);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}
.accommodation-heading {
  font-family: "Oswald", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}
.accommodation-description {
  font-family: "Source Serif Pro", serif;
  margin-bottom: 20px;
}
.accommodation-svg {
  position: relative;
  height: 500px;
  justify-content: center;
  align-content: center;
}
.layer {
  position: relative;
  left: 40%;
}
#palm {
  width: 350px;
  height: 200px;
  position: relative;
  stroke-dasharray: 6706px;
  stroke-dashoffset: 6706px;
}
.show-palm {
  animation: line-anim 5s ease forwards, fillin 2s ease forwards 2s;
}

footer {
  background-color: #1f2021;
  line-height: 140px;
  text-align: center;
}

footer p {
  font-family: "Source Serif Pro", serif;
  line-height: 120px;
  color: white;
  margin-top: 5px;
}

footer p em {
  font-style: normal;
  color: #f2745f;
  font-weight: 500;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  display: inline-block;
  margin: 0px 5px;
}

footer ul li i {
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  line-height: 35px !important;
  background-color: #fff;
  border-radius: 50%;
  color: #363e50;
  transition: all 0.5s;
}

footer ul li i:hover {
  background-color: red;
}

/* Mobile Styles */
@media (max-width: 400px) {
  .about-text-header {
    font-size: 20px;
    padding: 8px;
  }
  .about-info-text {
    transform: scale(0.7);
  }
  .bookings-text {
    font-size: medium;
  }
  #palm {
    width: 250px;
    height: 150px;
  }
}

@media (max-width: 700px) {
  .toggle_button {
    display: flex;
  }
  .navbar_links {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar_links ul {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    flex-direction: column;
  }
  .navbar_links li {
    text-align: center;
  }
  .navbar_links li a {
    padding: 0.5rem 1rem;
  }
  .navbar_links.active {
    display: flex;
  }
  #brand-name2 {
    transform: scale(0.5);
    top: 0%;
  }
  .intro-1,
  .intro-2,
  .intro-3 {
    font-size: 3rem;
  }
  .menu-link {
    font-size: 15px;
  }
  .forward,
  .Back {
    padding: 7px;
  }
  .booking-contact-details {
    flex-direction: column;
  }
  .about-container {
    flex-direction: column;
  }
  .about-text-container {
    width: 100%;
    height: 35%;
    z-index: 1;
  }
  .about-img {
    height: 89vh;
  }
  .about-section {
    height: 90vh;
  }
  .about-text-header {
    font-size: 20px;
  }
  .about-info-text {
    font-size: small;
    width: 90%;
  }
  .text-hide {
    display: none;
  }
}
@media (max-width: 800px) {
  .text-hide {
    display: none;
  }
}
@media (max-width: 900px) {
  .hotels {
    display: flex; /* establish flex container */
    flex-direction: column; /* stack flex items vertically */
    justify-content: center; /* center items vertically, in this case */
    align-items: center; /* center items horizontally, in this case */
  }
}
@media (min-width: 900px) {
  .logo {
    left: 10%;
  }
  .navbar_links {
    right: 10%;
  }
}
@media (max-height: 950px) {
  .slideshow-container {
    max-height: 450px;
  }
}
@media (max-width: 1000px) {
  .specials-container {
    flex-direction: column;
    width: 80vw;
    align-items: center;
  }
  .specials-card {
    padding: 5px;
    margin: 10px 5px 5px 5px;
    width: 60%;
  }
  .specials-name,
  .specials-price {
    margin: 5px;
  }
  .specials-description {
    padding-bottom: 5px;
  }
  .featured-food .food-item {
    padding: 15px;
  }
  .dolphin-dunes {
    margin: 20px 15px 20px 20px;
  }
  .post-office-lodge {
    margin: 20px 20px 20px 15px;
  }
  footer {
    line-height: 30px;
    text-align: center;
  }
  footer p {
    line-height: 30px;
    margin-top: 5px;
  }
  footer ul {
    margin-bottom: 5px;
  }
}
@media (max-width: 1200px) {
  .about-text-header {
    font-size: 30px;
  }
  .about-info-text {
    font-size: medium;
    width: 90%;
  }
  .featured-food .food-item {
    padding: 20px;
  }
  .carousel,
  .dd-text,
  .pol-text {
    width: 400px;
  }
}
